
@property --button-background-color-from {
    syntax: '<color>';
    initial-value: transparent;
    inherits: true;
}

@property --button-background-color-to {
    syntax: '<color>';
    initial-value: transparent;
    inherits: true;
}

.button {
    --button-background-color-from: var(--button-bg-dark-from);
    --button-background-color-to: var(--button-bg-dark-to);

    font-size: 1.2rem;
    line-height: 3rem;
    padding: .1rem 1rem;
    color: var(--color-text-primary);
    text-shadow: var(--text-shadow);
    border: none;
    transform-origin: center center;
    background: linear-gradient(
            to bottom,
            var(--button-background-color-from),
            var(--button-background-color-to)
    );

    box-shadow: var(--glass-edge);
    transition:
            --button-background-color-from 1s var(--spring-easing),
            --button-background-color-to 1s var(--spring-easing);

    &:hover {
        --button-background-color-from: var(--button-bg-light-from);
        --button-background-color-to: var(--button-bg-light-to);
    }
}