.card {
    display: flex;
    gap: 2rem;
    overflow: clip;
    padding: 1rem;
    box-sizing: border-box;

    a {
        width: 250px;
        flex-shrink: 0;
        display: block;
        position: relative;
        text-decoration: none;
        overflow: hidden;
        margin: -1rem;

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 2/3;
            object-fit: cover;
            display: block;
            border-radius: var(--radius-large);
        }
    }

    .details {
        flex: 1;
        min-width: 0;
    }

    h3 {
        display: inline-block;
        color: var(--color-text-primary);
        margin-bottom: 0;
    }
}