.carousel {
    position: relative;


    ul {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: 0;
        width: 100%;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        z-index: 0;

        @supports selector(::scroll-marker-group) {
            overflow-x: hidden;
        }



        > li {
            scroll-snap-align: center;
        }

        &::scroll-button(left),
        &::scroll-button(right) {
            --button-background-color-from: var(--button-bg-dark-from);
            --button-background-color-to: var(--button-bg-dark-to);

            font-size: 1.2rem;
            line-height: 3rem;
            padding: .1rem 1rem;
            color: var(--color-text-primary);
            text-shadow: var(--text-shadow);
            border: none;
            border-radius: var(--radius-medium);
            transform-origin: center center;
            background: linear-gradient(
                    to bottom,
                    var(--button-background-color-from),
                    var(--button-background-color-to)
            );
            box-shadow: var(--glass-edge);
            transition:
                    --button-background-color-from 1s var(--spring-easing),
                    --button-background-color-to 1s var(--spring-easing);

            &:hover {
                --button-background-color-from: var(--button-bg-light-from);
                --button-background-color-to: var(--button-bg-light-to);
            }

            &:disabled {
                opacity: 0.5;
            }

            &:not(:disabled) {
                cursor: pointer;
            }
        }

        &::scroll-button(left) {
            content: "⬅" / "Scroll Left";
        }

        &::scroll-button(right) {
            content: "⮕" / "Scroll Right";
            position: absolute;
            right: 0;
        }

        &::scroll-button(*):focus-visible {
            outline-offset: 5px;
        }

        scroll-marker-group: after;

        &::scroll-marker-group {
            position: absolute;
            bottom: 15px;
            height: 10px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        > li::scroll-marker {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border-radius: var(--radius-round);
            border: none;
            transform-origin: center center;
            box-shadow: var(--glass-edge);

            --button-background-color-from: var(--button-bg-dark-from);
            --button-background-color-to: var(--button-bg-dark-to);

            background: linear-gradient(
                    to bottom,
                    var(--button-background-color-from),
                    var(--button-background-color-to)
            );
            transition: --button-background-color-from 1s var(--spring-easing),
            --button-background-color-to 1s var(--spring-easing);


            &:hover {
                --button-background-color-from: var(--button-bg-light-from);
                --button-background-color-to: var(--button-bg-light-to);
            }

            &:disabled {
                opacity: 0.5;
            }

            &:not(:disabled) {
                cursor: pointer;
            }
        }

        > li::scroll-marker:target-current {
            --button-background-color-from: var(--color-red-50);
            --button-background-color-to: var(--color-red);

            &:hover {
                --button-background-color-from: var(--color-red-70);
                --button-background-color-to: var(--color-red);
            }
        }
    }
}