header {
    width: 100%;
    z-index: 1000;
    padding-block: 2rem;
    container-type: scroll-state;
    position: sticky;
    top: 0px;
    padding: 2rem 0 1rem;
    margin: 0;
    box-sizing: border-box;

    &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: var(--glass-panel-medium);
        backdrop-filter: blur(10px);
        box-shadow:
                0 4px 10px 0 rgba(0, 0, 0, 0.1),
                var(--glass-edge);
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
        z-index: -1;

        @container scroll-state(stuck: top) {
            opacity: 1;
        }
    }

    & ~ main {
        margin-top: -100px;
    }
}