@keyframes fade-in-from-top {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
}

@keyframes fade-out-to-top {
    to {
        opacity: 0;
        transform: translateY(-40px);
    }
}


header {
    width: 100%;
    z-index: 1000;
    padding-block: 2rem;
    container-type: scroll-state;
    position: sticky;
    top: 0;
    padding: 2rem 0 1rem;
    margin: 0;
    box-sizing: border-box;

    &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: var(--glass-panel-medium);
        backdrop-filter: blur(var(--blur-heavy));
        box-shadow:
                0 4px 10px 0 var(--color-black-10),
                var(--glass-edge);
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
        z-index: -1;

        @container scroll-state(stuck: top) {
            opacity: 1;
        }
    }

    & ~ main.snap-top {
        margin-top: -100px;
    }

    .logo {
        view-transition-name: logo;
        grid-column: content;
        grid-row: 1;
        justify-self: start;
        align-self: center;
        z-index: 100;
        margin-left: 0;

        &.breakout {
            margin-left: 1rem;
        }

        header:has(.back-button) & {
            margin-left: clamp(0rem, (1085px - 100vw) * 0.5, 4.8rem);
        }

        img {
            height: 48px;
            width: auto;
            display: block;
        }
    }

    .back-button {
        view-transition-name: back-button;
        grid-column: content;
        grid-row: 1;
        justify-self: start;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        color: var(--color-text-primary);
        text-decoration: none;
        z-index: 100;

        &.breakout {
            margin-left: 1rem;
        }

        svg {
            width: 24px;
            height: 24px;
            overflow: visible;
            filter: var(--icon-filter);
        }
    }
}

::view-transition-group(back-button),
::view-transition-group(logo) {
    z-index: 1000;
}

::view-transition-new(back-button) {
    animation: 300ms cubic-bezier(0, 0, 0.2, 1) both fade-in-from-top;
    animation-delay: 0.5s;
}

::view-transition-old(back-button) {
    animation: 150ms cubic-bezier(0.4, 0, 1, 1) both fade-out-to-top;
}