@import url(variables.css);
@import url(utils.css);
@import url(grid.css);
@import url(components/header.css);
@import url(components/menu.css);
@import url(components/button.css);
@import url(components/carousel.css);
@import url(components/card.css);
@import url(components/profile.css);
@import url(main.css);

:root {
    interpolate-size: allow-keywords;
}

body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    margin-top: 3rem;
}



