@import url(variables.css);
@import url(utils.css);
@import url(grid.css);
@import url(components/header.css);
@import url(components/menu.css);
@import url(components/button.css);
@import url(components/carousel.css);
@import url(components/card.css);
@import url(components/profile.css);
@import url(components/hero.css);
@import url(components/masonry.css);
@import url(templates/categories.css);
@import url(templates/main.css);
@import url(templates/new.css);
@import url(templates/search.css);

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--color-bg-page);
    color: var(--color-text-primary);
}

h1 {
    margin-top: 3rem;
}



