@import url(grid.css);
@import url(components/header.css);
@import url(components/menu.css);
@import url(components/button.css);
@import url(components/carousel.css);
@import url(components/card.css);
@import url(components/profile.css);
@import url(main.css);

:root {
    --glass-panel-dark: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.20),
        rgba(255, 255, 255, 0.30)
    );
    --glass-panel-medium: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.42),
            rgba(255, 255, 255, 0.28)
    );
    --glass-panel-light: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.50),
            rgba(255, 255, 255, 0.60)
    );
    --glass-edge: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
    --spring-easing: linear(0, 0.0018, 0.0069 1.15%, 0.026 2.3%, 0.0637, 0.1135 5.18%, 0.2229 7.78%, 0.5977 15.84%, 0.7014, 0.7904, 0.8641, 0.9228, 0.9676 28.8%, 1.0032 31.68%, 1.0225, 1.0352 36.29%, 1.0431 38.88%, 1.046 42.05%, 1.0448 44.35%, 1.0407 47.23%, 1.0118 61.63%, 1.0025 69.41%, 0.9981 80.35%, 0.9992 99.94%);
}

body {
    margin: 0;
    font-family: sans-serif;
}

body:has(header) {
    padding-top: 80px;
}



