#categories {
    .card {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
            opacity: 0.4;
            mix-blend-mode: multiply;
        }

        .details {
            position: relative;
            z-index: 2;
        }

        h3 {
            font-size: 1.5rem;
            color: white;
            text-shadow: 0 1px 10px rgba(0,0,0, 0.6);
            margin: 0;
        }
    }

    .category-action {
        background: linear-gradient(to bottom, #d69095, #c57177 30%, #b35961);
    }

    .category-comedy {
        background: linear-gradient(to bottom, #e3cd7f, #d9c05c 30%, #c9b140);
    }

    .category-family {
        background: linear-gradient(to bottom, #bdccab, #a1b887 30%, #85a363);
    }

    .category-sci-fi {
        background: linear-gradient(to bottom, #b2c9d6, #92b2c7 30%, #729ab5);
    }

    .category-classics {
        background: linear-gradient(to bottom, #e3dac1, #d4cba3 30%, #c5ba85);
    }

    .category-thriller {
        background: linear-gradient(to bottom, #a2b3c5, #859bb3 30%, #6883a1);
    }

    .category-horror {
        background: linear-gradient(to bottom, #b9adbf, #9c89a8 30%, #7f6591);
    }
}