

::view-transition-group(*) {
    animation-duration: 0.5s;
}

::view-transition-group(.movie-poster) {
    z-index: 10;
}

::view-transition-group(.hero-poster) {
    z-index: 15;
}

::view-transition-old(.movie-poster),
::view-transition-new(.movie-poster) {
    animation: none;
    mix-blend-mode: normal;
    height: 100%;
    overflow: clip;
    border-radius: var(--radius-large);
}

::view-transition-old(.movie-poster):only-child {
    animation: 0.5s cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(.movie-poster):only-child {
    animation: 0.5s cubic-bezier(0, 0, 0.2, 1) both fade-in;
}

::view-transition-old(main-movie-description),
::view-transition-new(main-movie-description) {
    mix-blend-mode: normal;
}

::view-transition-new(main-movie-description) {
    animation: 800ms cubic-bezier(0, 0, 0.2, 1) both fade-in-up;
    animation-delay: 0.5s;
}

::view-transition-old(main-movie-description) {
    animation: 300ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-group(main-movie-description) {
    overflow: clip;
    border-radius: var(--radius-large);
    z-index: 20;
}

#main-overview {
    position: relative;

    &::view-transition-new(.movie-poster) {
        object-fit: contain;
    }

    &::view-transition-old(.movie-poster) {
        object-fit: cover;
    }

    .details {
        display: none;
    }
}

#main-detail {
    &::view-transition-new(.movie-poster) {
        object-fit: cover;
    }

    .hero .content {
        view-transition-name: main-movie-description;
    }

    .details {
        display: none;
    }
}

