

::view-transition-group(*) {
    animation-duration: 0.5s;
}

::view-transition-old(image),
::view-transition-new(image) {
    animation: none;
    mix-blend-mode: normal;
    height: 100%;
    overflow: clip;
    border-radius: var(--radius-large);
}

::view-transition-old(image):only-child {
    animation: 0.1s both fade-out;
}

::view-transition-new(movie-description) {
    animation: 800ms cubic-bezier(0, 0, 0.2, 1) both fade-in-up;
    animation-delay: 0.5s;
}

::view-transition-old(movie-description) {
    animation: 300ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

#main-overview {
    position: relative;

    &::view-transition-new(image) {
        object-fit: contain;
    }

    &::view-transition-old(image) {
        object-fit: cover;
    }

    .details {
        display: none;
    }
}

#main-detail {
    ::view-transition-group(movie-description) {
        overflow: clip;
        border-radius: var(--radius-large);
    }

    &::view-transition-new(image) {
        object-fit: cover;
    }

    .hero .content {
        view-transition-name: movie-description;
    }

    .details {
        display: none;
    }
}

